:root {
  --header-height: 180px;
}

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
}

.App {
  text-align: center;
  font-family: Montserrat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #f2eee6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-height);
}

.header h2 {
  font-weight: 500;
  font-size: 25pt;
  line-height: 10px;
}
.header hr {
  width: 80%;
}
.header .subheader {
  height: inherit;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.header .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  width: var(--header-height);
}

.header .image img {
  width: 80%;
  margin-top: 18px;
}

.header .title {
  text-align: left;
  margin-left: 8vw;
  margin-top: 20px;
  font-weight: 300;
  font-size: 14pt;
  line-height: 30px;
  padding-top: 20px;
}

.header .image2 {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.image2 img {
  width: 300px;
  margin-right: 10%;
  align-self: flex-end;
  margin-bottom: -25px;
  z-index: 1;
}

.sidebar {
  flex: 0 0 180px;
  margin-left: 10%;
}

.item {
  height: 20px;
  width: 50%;
  margin-top: 30px;
  text-align: left;
  font-size: 11pt;
  font-weight: 450;
}

.item:hover {
  font-weight: 600 !important;
  cursor: pointer;
}

.window {
  flex-grow: 0;
  margin-right: 10%;
  margin-left: 8vw;
  font-size: 11pt;
font-weight: 300;

}
.window h2{
  font-size: 11pt;

}

.body {
  padding-top: 30px;
  background-color: #f2eee6;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
